%ul.breadcrumb
  %li
    %a{ href: "#" }
      Home
  %li.active
    Calculator
.page-title
  %h1
    %span.fa.fa-calculator
    Calculator
.page-content-wrap
  .row
    .col-md-6.col-md-offset-3.well
      .row
        %h3.text-center.calculator-logo Trigonometry Calculator
        #result
          = form_tag(trigonometries_path, method: :get) do
            .form-group
              = text_field_tag :trigonometry_equation, params[:trigonometry_equation], id: "trigonometry_equation", readonly: true, class: "form-control"
            .form-group
              = submit_tag "Submit", class: "form-control"
        %center
          .caculator
            %table.table-hover
              %tr
                %td
                  #clear-all.btn.btn-danger AC
                %td
                  #plus.btn.btn-success +
                %td
                  #subtract.btn.btn-success -
                %td
                  #multiple.btn.btn-success *
                %td
                  #divide.btn.btn-success &#247
                %td
                  #sin.btn.btn-success sin
              %tr
                %td
                  #seven.btn.btn-success 7
                %td
                  #eight.btn.btn-success 8
                %td
                  #nine.btn.btn-success 9
                %td
                  #open-caret.btn.btn-success (
                %td
                  #close-caret.btn.btn-success )
                %td
                  #cos.btn.btn-success cos
              %tr
                %td
                  #four.btn.btn-success 4
                %td
                  #five.btn.btn-success 5
                %td
                  #six.btn.btn-success 6
                %td
                  #variable.btn.btn-success x
                %td
                  #power.btn.btn-success ^
                %td
                  #tan.btn.btn-success tan
              %tr
                %td
                  #one.btn.btn-success 1
                %td
                  #two.btn.btn-success 2
                %td
                  #three.btn.btn-success 3
                %td
                  #zero.btn.btn-success 0
                %td
                  #dot.btn.btn-success .
                %td
                  #cotan.btn.btn-success cotan
              %tr
                %td{ colspan: "6" }
                  #equal.btn.btn-success =
      / .col-md-6.scroll
      /   %h2.text-center Lời giải chi tiết
      /   #solution
      /     - if @solution.present?
      /       - @solution[:array_steps].each_index do |index|
      /         %p
      /           %span#step
      /             Bước #{ index + 1 }:
      /           = @solution[:array_steps][index][:message]
      /         %p
      /           %center
      /             - if @solution[:array_steps][index][:equation].kind_of? Hash
      /               = Trigonometry.decode_equation @solution[:array_steps][index][:equation]
      /             - elsif @solution[:array_steps][index][:equation].kind_of? Array
      /               = @solution[:array_steps][index][:equation].join(" hoặc ")
      /             - else
      /               = @solution[:array_steps][index][:equation]

:javascript
  var equal = false;
  var string = "";
  var array_caret = [];
  var display = "";

  function reset() {
    equal = false;
    string = "";
    display = "";
    array_caret = [];
    $("#trigonometry_equation").attr("value", string);
  }

  function fillCloseCaret() {
    if (array_caret[array_caret.length - 1] === '(') {
      string += ")";
      array_caret.pop();
    } else if (array_caret[array_caret.length - 1] === '[') {
      fillOperandTrigonometry("]");
      array_caret.pop();
    }
  }

  function fillOperandTrigonometry(operand) {
    var check = array_caret[array_caret.length -1];
    if (check == "(") {
      string += operand;
    } else if (checkEqual()){
      string += operand + " ";
    } else {
      string += " " + operand + " ";
    }
  }

  function checkFirstChar() {
    if (string == "") {
      return false;
    }
    return true;
  }

  function checkDuplicateOperator(char) {
    switch (char) {
      case "+":
        return false;
        break;
      case "-":
        return false;
        break;
      case "*":
        return false;
        break;
      case "/":
        return false;
        break;
      default:
        return true;
        break;
    }
  }

  function checkLastChar() {
    if (string !== "") {
      if (string[string.length - 1] == " ") {
        return checkDuplicateOperator(string[string.length - 2]);
      } else if(string[string.length - 1] == "[") {
        return checkDuplicateOperator(string[string.length - 3]);
      } else {
        return checkDuplicateOperator(string[string.length - 1]);
      }
    }
    return true;
  }

  function checkEqual() {
    return string[string.length - 1] == "="
  }

  $("#clear-all").click(function() {
    reset();
  });

  $("#plus").click(function() {
    if (checkFirstChar() && checkLastChar()) {
      fillOperandTrigonometry("+");
      $("#trigonometry_equation").attr("value", string);
    }
  });

  $("#subtract").click(function() {
    if (checkFirstChar() && checkLastChar()) {
      fillOperandTrigonometry("-");
      $("#trigonometry_equation").attr("value", string);
    }
  });

  $("#multiple").click(function() {
    if (checkFirstChar() && checkLastChar()) {
      string += "*";
      $("#trigonometry_equation").attr("value", string);
    }
  });

  $("#divide").click(function() {
    if (checkFirstChar() && checkLastChar()) {
      string += "/";
      $("#trigonometry_equation").attr("value", string);
    }
  });

  $("#power").click(function() {
    if (checkFirstChar()) {
      string += "^ [ ";
      array_caret.push("[");
      $("#trigonometry_equation").attr("value", string);
    }
  });

  $("#dot").click(function() {
    string += ".";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#equal").click(function() {
    if (equal === false) {
      equal = true;
      string += "=";
      $("#trigonometry_equation").attr("value", string);
    }
  });

  $("#sin").click(function() {
    string += "sin(";
    array_caret.push("(");
    $("#trigonometry_equation").attr("value", string);
  });

  $("#cos").click(function() {
    string += "cos(";
    array_caret.push("(");
    $("#trigonometry_equation").attr("value", string);
  });

  $("#tan").click(function() {
    string += "tan(";
    array_caret.push("(");
    $("#trigonometry_equation").attr("value", string);
  });

  $("#cotan").click(function() {
    string += "cotan(";
    array_caret.push("(");
    $("#trigonometry_equation").attr("value", string);
  });

  $("#open-caret").click(function() {
    fillOperandTrigonometry("[");
    array_caret.push("[");
    $("#trigonometry_equation").attr("value", string);
  });

  $("#close-caret").click(function() {
    fillCloseCaret();
    $("#trigonometry_equation").attr("value", string);
  });

  $("#variable").click(function() {
    var check = array_caret[array_caret.length -1];
    if (check == "(") {
      string += "x";
    }
    $("#trigonometry_equation").attr("value", string);
  });

  $("#nine").click(function() {
    string += "9";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#eight").click(function() {
    string += "8";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#seven").click(function() {
    string += "7";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#six").click(function() {
    string += "6";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#five").click(function() {
    string += "5";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#four").click(function() {
    string += "4";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#three").click(function() {
    string += "3";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#two").click(function() {
    string += "2";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#one").click(function() {
    string += "1";
    $("#trigonometry_equation").attr("value", string);
  });

  $("#zero").click(function() {
    string += "0";
    $("#trigonometry_equation").attr("value", string);
  });
