@import "bootstrap.min";
@import "joli/css/jquery/jquery-ui.min";
@import "joli/css/bootstrap/bootstrap.min";
@import "joli/css/fontawesome/font-awesome";
@import "joli/css/summernote/summernote";
@import "joli/css/codemirror/codemirror";
@import "joli/css/nvd3/nv.d3";
@import "joli/css/mcustomscrollbar/jquery.mCustomScrollbar";
@import "joli/css/fullcalendar/fullcalendar";
@import "joli/css/blueimp/blueimp-gallery.min";
@import "joli/css/rickshaw/rickshaw";
@import "joli/css/dropzone/dropzone";
@import "joli/css/animate/animate.min";
@import "joli/css/theme-default";
@import "fonts";
@import "paper";

.logo-edit {
  width: 25%;
  margin-top: -10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
}

h3 {
  font-size: 35px;
}

.calculator-logo {
  font-family: "Orbitron", sans-serif;
}

.well {
  padding: 20px 40px;
  background-color: #DFD8D0;
  border-radius: 25px;
}
#result {
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 50px;
  padding: 0px 15px;
  color: black;
}

#trigonometry_equation {
  width: 100%;
  height: 50px;
}

table {
  padding: 0px;
  margin: 10px 35px 0px 0px;
}

tr:hover {
  background: #DFD8D0 !important;
}

#equal {
  width: 462px;
}

.first {
  border-right: 1px solid grey;
}
#step {
  font-weight: bold;
}

.caculator {
  margin-left: 20px;
  .btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    width: 62px;
    margin: 10px 0px 12px 12px;
    text-shadow:0px 1px 0px #810e05;
  }
  .btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
  }

  .btn:active {
    position:relative;
    top:1px;
  }

  .btn-success {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
}

.form-control {
  color: black !important;
  font-size: 15px;
}

h2 {
  color: #ffffff;
}

/*solve-problem*/
.solve-problem {
  background-color: #ffffff;
  p {
    border-bottom: 1px solid grey;
  }
}
