@import "bootstrap.min";
@import "joli/css/jquery/jquery-ui.min";
@import "joli/css/bootstrap/bootstrap.min";
@import "joli/css/fontawesome/font-awesome";
@import "joli/css/summernote/summernote";
@import "joli/css/codemirror/codemirror";
@import "joli/css/nvd3/nv.d3";
@import "joli/css/mcustomscrollbar/jquery.mCustomScrollbar";
@import "joli/css/fullcalendar/fullcalendar";
@import "joli/css/blueimp/blueimp-gallery.min";
@import "joli/css/rickshaw/rickshaw";
@import "joli/css/dropzone/dropzone";
@import "joli/css/animate/animate.min";
@import "joli/css/theme-default";

body {
  font-size: 20px;
  background-image: asset_url("bg.jpg");
  padding: 30px;
  border-radius: 10px;
}
h3 {
  font-family: 'Open Sans';
  font-size: 35px;
}
.well {
  margin-top: 50px;
  padding: 20px 40px;
  background-color: #FFF;
}
#result {
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 50px;
  padding: 0px 15px;
}
#trigonometry_equation {
  width: 100%;
  height: 50px;
}
.btn {
  width: 62px;
  text-align: center;
  margin: 10px 0px 12px 12px;
  border-radius: 5px;
}
table {
  padding: 0px;
  margin: 10px 35px 0px 0px;
}
#equal {
  width: 462px;
}
.btn-success {
  border-color: #5cb85c;
}
.first {
  border-right: 1px solid grey;
}
#step {
  font-weight: bold;
}
