@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: normal;
  src: font-url("Orbitron-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Just Another Hand";
  font-style: normal;
  font-weight: normal;
  src: font-url("JustAnotherHand.ttf") format("opentype");
}
